<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	
	<title>Register New User Form</title>
	
	<meta charset="utf-8">

		<style>
		.error {color:red}
	</style>

</head>

<body>

			<div class="panel-title">Регистрация нового пользователя</div><p>

					<form th:action="@{/register/processRegistrationForm}" th:object="${crmUser}" method="POST">

									<div th:if="${registrationError}">
										<span th:text="${registrationError}" class="error"></span><p>
									</div>

							<input type="text" th:field="*{userName}" placeholder="Имя аккаунта"/>
							<ul>
							  <li th:each="err : ${#fields.errors('userName')}" th:text="${err}"/>
							</ul>						
						
							<input type="password" th:field="*{password}" placeholder="Пароль"/>
							<ul>
							  <li th:each="err : ${#fields.errors('password')}" th:text="${err}"/>
							</ul>						

							<input type="password" th:field="*{matchingPassword}" placeholder="Потверждение пароля"/>				
							<ul>
							  <li th:each="err : ${#fields.errors('matchingPassword')}" th:text="${err}"/>
							</ul>						
					
							<input type="text" th:field="*{firstName}" placeholder="Имя"/>
							<ul>
							  <li th:each="err : ${#fields.errors('firstName')}" th:text="${err}"/>
							</ul>						

							<input type="text" th:field="*{lastName}" placeholder="Фамилия"/>
							<ul>
							  <li th:each="err : ${#fields.errors('lastName')}" th:text="${err}"/>
							</ul>						

							<input type="text" th:field="*{email}" placeholder="Email"/>
							<ul>
							  <li th:each="err : ${#fields.errors('email')}" th:text="${err}"/>
							</ul>						

							<button type="submit" class="btn btn-primary">Зарегистрироваться</button>

					</form>
					
					<div>
						<p><a th:href="@{/showMyLoginPage}">Назад</a>
					</div>

</body>
</html>